body {
}
#spielfeld{
    width : 100vw;
    height: 60vh;
    position: relative;
    display: flex;
    padding: 0;

}
#spielcanvas{
    width: 65%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
#slotgrid{
    width: 65%;
    height: 100%;
    padding: 0px;
/*    background-color : aliceblue;*/
/*    position: absolute;
    z-index: 2;*/
}
.slot{
    margin:0px; 
    padding:0px;
}
.row{
    margin: 0px;
}
#spielsteinsektion{
    width: 35%;
    height: 100%;
    display:flex;
/*    flex-direction:column;
    justify-content: flex-end;*/
    padding-left: 10px;
}
#roteSteine, #gelbeSteine {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
