/*body {
    background-color:black;
}*/
#spielfeldrahmen{
/*    position: absolute;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#spielsteincontainer{
    display:flex;
    flex-direction: column-reverse;
    flex-wrap : nowrap;
    row-gap: 1px;

}
#canvasrow{
    height : 600px;
 }
.gamepiececolumn{
    position: absolute;
    z-index: 1;
}
#columncontainer{
    z-index: -1;
}
#spielgrafik{
}
#spielgrafik, #columncontainer
{
    position:absolute;
    top:50px;
    left:50px;
}
